<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>faceid-nim</vendor>
  <vendor_url>https://github.com/Gaurav-x111/faceid-nim</vendor_url>

  <!-- auth_self is the whole point: enrolling requires the account
       password, so someone sitting at your unlocked laptop cannot add
       their own face to your account. -->
  <action id="org.faceidnim.enroll">
    <description>Enroll a face for unlocking</description>
    <message>Authentication is required to enroll a face</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
  </action>

  <action id="org.faceidnim.settings">
    <description>Change face unlock settings</description>
    <message>Authentication is required to change face unlock settings</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
  </action>

  <!-- Deleting your own biometric data should never be harder than
       creating it. -->
  <action id="org.faceidnim.delete">
    <description>Remove enrolled face data</description>
    <message>Authentication is required to remove face data</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

  <action id="org.faceidnim.enable">
    <description>Enable or disable face unlock in PAM</description>
    <message>Authentication is required to change PAM face unlock</message>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_self</allow_active>
    </defaults>
  </action>
</policyconfig>
