[Desktop Entry]
Type=Application
Name=Face Unlock
GenericName=Face Unlock Settings
Comment=Enroll your face and manage face unlock
Exec=/usr/bin/faceid-app
Icon=org.faceidnim.App
Terminal=false
Categories=Settings;DesktopSettings;Security;GTK;
Keywords=face;unlock;biometric;login;camera;pam;
StartupNotify=true
StartupWMClass=org.faceidnim.App
X-GNOME-Settings-Panel=faceid-nim
